# DESeq2
## Phase 1 vs. Phase 1

focusing on pairwise comparisons involving oysters that experienced only **one** phase 1 (one exposure)

### 0. load libraries

In [2]:
library(tidyverse)
library(DESeq2)

### 1. read counts matrix and meta data

#### counts matrix

In [8]:
# counts matrix
counts <- read.csv('/work/pi_sarah_gignouxwolfsohn_uml_edu/julia_mcdonough_student_uml_edu/ce24_rnaseq/featureCounts/featureCounts_matrix.csv')
head(counts)

  Gene_ID      Length B1_B1_O01 B1_Nu_O03 B1_W5_O50 B2_B5_O51 B2_C4_O40
1 LOC111116054  1017    2         1         6        10         9
2 LOC111126949  4364  885       652       477       654       586
3 LOC111110729 23787   64       209        93        63       100
4 LOC111112434  9649   11         7         2         0         2
5 LOC111120752  6621  360       586       336       426       351
6 LOC111128944  1773    0         0         0         0         0
  B2_Nu_O12 B3_B4_O41 B3_C3_O30 ⋯ W5_C4_G45 W5_H4_G46 W5_W2_G22 W6_B3_G35
1  16         0        10       ⋯   9         2         8         5
2 523       392       357       ⋯ 407       740       707       406
3 177        76        98       ⋯  70       149       121       115
4   2        12        15       ⋯  11         6         4         0
5 417       236       278       ⋯ 359       345       438       278
6   0         0         0       ⋯   0         0         0         0
  W6_B4_G48 W6_H6_G71 W6_Nu_G41 W6_Nu_G45 W6_W3_G36 W6_W4_G48
1   2        19         1         2         1         0
2 418       424       492       330       281       599
3 126       108       118       115       127       213
4   2        16        22         0         8         0
5 287       416       621       251       333       430
6   0         0         0         1         0         0

In [9]:
# set gene_ID as row name
rownames(counts) <- counts$Gene_ID

counts2 <- counts %>%
select(-Gene_ID, -Length)

head(counts2)

             B1_B1_O01 B1_Nu_O03 B1_W5_O50 B2_B5_O51 B2_C4_O40 B2_Nu_O12
LOC111116054   2         1         6        10         9        16
LOC111126949 885       652       477       654       586       523
LOC111110729  64       209        93        63       100       177
LOC111112434  11         7         2         0         2         2
LOC111120752 360       586       336       426       351       417
LOC111128944   0         0         0         0         0         0
             B3_B4_O41 B3_C3_O30 B3_C6_O66 B3_H4_O41 ⋯ W5_C4_G45 W5_H4_G46
LOC111116054   0        10        22         9       ⋯   9         2
LOC111126949 392       357       496       540       ⋯ 407       740
LOC111110729  76        98       235       181       ⋯  70       149
LOC111112434  12        15        10        36       ⋯  11         6
LOC111120752 236       278       761       373       ⋯ 359       345
LOC111128944   0         0         0         0       ⋯   0         0
             W5_W2_G22 W6_B3_G35 W6_B4_G48 W6_H6_G71 W6_Nu_G41 W6_Nu_G45
LOC111116054   8         5         2        19         1         2
LOC111126949 707       406       418       424       492       330
LOC111110729 121       115       126       108       118       115
LOC111112434   4         0         2        16        22         0
LOC111120752 438       278       287       416       621       251
LOC111128944   0         0         0         0         0         1
             W6_W3_G36 W6_W4_G48
LOC111116054   1         0
LOC111126949 281       599
LOC111110729 127       213
LOC111112434   8         0
LOC111120752 333       430
LOC111128944   0         0

#### meta data

In [36]:
# create df with col names from counts matrix
meta <- as.data.frame(colnames(counts2))

colnames(meta) <- 'Sample'

# Separate into columns
meta <- meta %>%
   # Keep original SampleID
  mutate(OGSample = Sample) %>%
  # Split by '_'
  separate(Sample, into = c("Phase1", "Phase2", "Tag"), sep = "_") %>%
  mutate(
    Phase1_Treatment = substr(Phase1, 1, 1),
    Phase1_TankRep    = as.numeric(substr(Phase1, 2, nchar(Phase1))),
    Phase2_Treatment = gsub("[0-9]", "", Phase2),
    Phase2_TankRep       = as.numeric(gsub("[A-Za-z]", "", Phase2))
  ) %>%
  select(OGSample, Phase1_Treatment, Phase1_TankRep, Phase2_Treatment, Phase2_TankRep, Tag)

colnames(meta)[1] <- 'Sample'

head(meta)

  Sample    Phase1_Treatment Phase1_TankRep Phase2_Treatment Phase2_TankRep Tag
1 B1_B1_O01 B                1              B                 1             O01
2 B1_Nu_O03 B                1              Nu               NA             O03
3 B1_W5_O50 B                1              W                 5             O50
4 B2_B5_O51 B                2              B                 5             O51
5 B2_C4_O40 B                2              C                 4             O40
6 B2_Nu_O12 B                2              Nu               NA             O12

In [39]:
# adding treatment info
meta2 <- meta %>%
mutate(
    ## phase 1 treatments
    # overall
    Phase1_treatment = case_when(
        Phase1_Treatment == 'B' ~ 'both',
        Phase1_Treatment == 'H' ~ 'hypoxic',
        Phase1_Treatment == 'W' ~ 'warm',
        Phase1_Treatment == 'C' ~ 'control',
    TRUE ~ NA_character_),
    
    # temp
    Phase1_temp = case_when(
        Phase1_Treatment == 'B' ~ 'warm',
        Phase1_Treatment == 'H' ~ 'ambient',
        Phase1_Treatment == 'W' ~ 'warm',
        Phase1_Treatment == 'C' ~ 'ambient',
    TRUE ~ NA_character_),

    # dissolved oxygen
    Phase1_DO = case_when(
        Phase1_Treatment == 'B' ~ 'hypoxic',
        Phase1_Treatment == 'H' ~ 'hypoxic',
        Phase1_Treatment == 'W' ~ 'normoxic',
        Phase1_Treatment == 'C' ~ 'normoxic',
    TRUE ~ NA_character_),
    
    ## phase 2 treatments
    # overall
    Phase2_treatment = case_when(
        Phase2_Treatment == 'B' ~ 'both',
        Phase2_Treatment == 'H' ~ 'hypoxic',
        Phase2_Treatment == 'W' ~ 'warm',
        Phase2_Treatment == 'C' ~ 'control',
    TRUE ~ NA_character_),
    
    # temp
    Phase2_temp = case_when(
        Phase2_Treatment == 'B' ~ 'warm',
        Phase2_Treatment == 'H' ~ 'ambient',
        Phase2_Treatment == 'W' ~ 'warm',
        Phase2_Treatment == 'C' ~ 'ambient',
    TRUE ~ NA_character_),

    # dissolved oxygen
    Phase2_DO = case_when(
        Phase2_Treatment == 'B' ~ 'hypoxic',
        Phase2_Treatment == 'H' ~ 'hypoxic',
        Phase2_Treatment == 'W' ~ 'normoxic',
        Phase2_Treatment == 'C' ~ 'normoxic',
    TRUE ~ NA_character_)) %>%
select(Sample, Phase1_treatment, Phase1_temp, Phase1_DO, Phase1_TankRep, Phase2_treatment, Phase2_temp, Phase2_DO, Phase2_TankRep)

head(meta2)

  Sample    Phase1_treatment Phase1_temp Phase1_DO Phase1_TankRep
1 B1_B1_O01 both             warm        hypoxic   1
2 B1_Nu_O03 both             warm        hypoxic   1
3 B1_W5_O50 both             warm        hypoxic   1
4 B2_B5_O51 both             warm        hypoxic   2
5 B2_C4_O40 both             warm        hypoxic   2
6 B2_Nu_O12 both             warm        hypoxic   2
  Phase2_treatment Phase2_temp Phase2_DO Phase2_TankRep
1 both             warm        hypoxic    1
2 NA               NA          NA        NA
3 warm             warm        normoxic   5
4 both             warm        hypoxic    5
5 control          ambient     normoxic   4
6 NA               NA          NA        NA

In [ ]:
write.csv('/project/pi_sarah_gignouxwolfsohn_uml_edu/julia/CE_2024/CE24_RNA-seq/sample_metaData.csv')